<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/oxm
    http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">

	<!-- TRA Post Auction MCP LT Round 2 Report -->
	<bean id="traPostAuctionMcpLtRoundTwoURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPostauctionMCPLTr2/PUB_TRAPostauctionMCPLTr2.xml" />
	</bean>

	<bean id="traPostAuctionMcpLtRoundTwoClient"
		class="name.reidmiller.iesoreports.client.TraPostAuctionMcpLtRoundTwoClient">
		<constructor-arg ref="traPostAuctionMcpLtRoundTwoURL" />
		<constructor-arg ref="traPostAuctionMcpLtRoundTwoMarshaller" />
		<constructor-arg ref="traPostAuctionMcpLtRoundTwoMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="traPostAuctionMcpLtRoundTwoMarshaller"
		contextPath="ca.ieso.reports.schema.trapostauctionmcpltr2" />

	<!-- TRA Post Auction MCP ST Round 1 Report -->
	<bean id="traPostAuctionMcpStRoundOneURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPostauctionMCPSTr1/PUB_TRAPostauctionMCPSTr1.xml" />
	</bean>

	<bean id="traPostAuctionMcpStRoundOneClient"
		class="name.reidmiller.iesoreports.client.TraPostAuctionMcpStRoundOneClient">
		<constructor-arg ref="traPostAuctionMcpStRoundOneURL" />
		<constructor-arg ref="traPostAuctionMcpStRoundOneMarshaller" />
		<constructor-arg ref="traPostAuctionMcpStRoundOneMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="traPostAuctionMcpStRoundOneMarshaller"
		contextPath="ca.ieso.reports.schema.trapostauctionmcpstr1" />

	<!-- TR Hourly Zonal Price Report (Monthly) -->
	<bean id="trHourlyZonalPriceMonthlyURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionHZMCPMonthly/PUB_TRAPreauctionHZMCPMonthly.xml" />
	</bean>

	<bean id="trHourlyZonalPriceMonthlyClient"
		class="name.reidmiller.iesoreports.client.TrHourlyZonalPriceMonthlyClient">
		<constructor-arg ref="trHourlyZonalPriceMonthlyURL" />
		<constructor-arg ref="trHourlyZonalPriceMonthlyMarshaller" />
		<constructor-arg ref="trHourlyZonalPriceMonthlyMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="trHourlyZonalPriceMonthlyMarshaller"
		contextPath="ca.ieso.reports.schema.trapreauctionhzmcpmonthly" />

	<!-- TR Historical Interface (Monthly) -->
	<bean id="trHistoricalInterfaceMonthlyURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionInterfaceHistoryMonthly/PUB_TRAPreauctionInterfaceHistoryMonthly.xml" />
	</bean>

	<bean id="trHistoricalInterfaceMonthlyClient"
		class="name.reidmiller.iesoreports.client.TrHistoricalInterfaceMonthlyClient">
		<constructor-arg ref="trHistoricalInterfaceMonthlyURL" />
		<constructor-arg ref="trHistoricalInterfaceMonthlyMarshaller" />
		<constructor-arg ref="trHistoricalInterfaceMonthlyMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="trHistoricalInterfaceMonthlyMarshaller"
		contextPath="ca.ieso.reports.schema.trapreauctioninterfacehistorymonthly" />

	<!-- Pre Auction MCP LT -->
	<bean id="preAuctionMcpLtURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionMCPLT/PUB_TRAPreauctionMCPLT.xml" />
	</bean>

	<bean id="preAuctionMcpLtClient" class="name.reidmiller.iesoreports.client.PreAuctionMcpLtClient">
		<constructor-arg ref="preAuctionMcpLtURL" />
		<constructor-arg ref="preAuctionMcpLtMarshaller" />
		<constructor-arg ref="preAuctionMcpLtMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="preAuctionMcpLtMarshaller"
		contextPath="ca.ieso.reports.schema.trapreauctionmcplt" />

	<!-- Pre Auction MCP ST -->
	<bean id="preAuctionMcpStURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionMCPST/PUB_TRAPreauctionMCPST.xml" />
	</bean>

	<bean id="preAuctionMcpStClient" class="name.reidmiller.iesoreports.client.PreAuctionMcpStClient">
		<constructor-arg ref="preAuctionMcpStURL" />
		<constructor-arg ref="preAuctionMcpStMarshaller" />
		<constructor-arg ref="preAuctionMcpStMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="preAuctionMcpStMarshaller"
		contextPath="ca.ieso.reports.schema.trapreauctionmcpst" />

	<!-- Pre Auction Transmission Transfer Capability (TTC) LT -->
	<bean id="preAuctionTransmissionTransferCapabilityLtURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionTTCLT/PUB_TRAPreauctionTTCLT.xml" />
	</bean>

	<bean id="preAuctionTransmissionTransferCapabilityLtClient"
		class="name.reidmiller.iesoreports.client.PreAuctionTransmissionTransferCapabilityLtClient">
		<constructor-arg ref="preAuctionTransmissionTransferCapabilityLtURL" />
		<constructor-arg
			ref="preAuctionTransmissionTransferCapabilityLtMarshaller" />
		<constructor-arg
			ref="preAuctionTransmissionTransferCapabilityLtMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller
		id="preAuctionTransmissionTransferCapabilityLtMarshaller" contextPath="ca.ieso.reports.schema.trapreauctionttclt" />

	<!-- Pre Auction Transmission Transfer Capability (TTC) ST -->
	<bean id="preAuctionTransmissionTransferCapabilityStURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/TRAPreauctionTTCST/PUB_TRAPreauctionTTCST.xml" />
	</bean>

	<bean id="preAuctionTransmissionTransferCapabilityStClient"
		class="name.reidmiller.iesoreports.client.PreAuctionTransmissionTransferCapabilityStClient">
		<constructor-arg ref="preAuctionTransmissionTransferCapabilityStURL" />
		<constructor-arg
			ref="preAuctionTransmissionTransferCapabilityStMarshaller" />
		<constructor-arg
			ref="preAuctionTransmissionTransferCapabilityStMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller
		id="preAuctionTransmissionTransferCapabilityStMarshaller" contextPath="ca.ieso.reports.schema.trapreauctionttcst" />

	<!-- Hourly Uplift and Intertie Offer Guarantee Estimates -->
	<bean id="hourlyUpliftAndIntertieOfferGuaranteeEstimatesURL"
		class="java.net.URL">
		<constructor-arg value="http://reports.ieso.ca/public/Uplift/PUB_Uplift.xml" />
	</bean>

	<bean id="hourlyUpliftAndIntertieOfferGuaranteeEstimatesClient"
		class="name.reidmiller.iesoreports.client.HourlyUpliftAndIntertieOfferGuaranteeEstimatesClient">
		<constructor-arg ref="hourlyUpliftAndIntertieOfferGuaranteeEstimatesURL" />
		<constructor-arg
			ref="hourlyUpliftAndIntertieOfferGuaranteeEstimatesMarshaller" />
		<constructor-arg
			ref="hourlyUpliftAndIntertieOfferGuaranteeEstimatesMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller
		id="hourlyUpliftAndIntertieOfferGuaranteeEstimatesMarshaller"
		contextPath="ca.ieso.reports.schema.uplift" />

	<!-- Variable Generation Forecast Summary -->
	<bean id="variableGenerationForecastSummaryURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/VGForecastSummary/PUB_VGForecastSummary.xml" />
	</bean>

	<bean id="variableGenerationForecastSummaryClient"
		class="name.reidmiller.iesoreports.client.VariableGenerationForecastSummaryClient">
		<constructor-arg ref="variableGenerationForecastSummaryURL" />
		<constructor-arg ref="variableGenerationMarshaller" />
		<constructor-arg ref="variableGenerationMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="variableGenerationMarshaller"
		contextPath="ca.ieso.reports.schema.vgforecastsummary" />

	<!-- Variable Generation Tie-Breaking Rankings -->
	<bean id="variableGenerationTieBreakingRankingsURL" class="java.net.URL">
		<constructor-arg
			value="http://reports.ieso.ca/public/VGTieBreakingRankings/PUB_VGTieBreakingRankings.xml" />
	</bean>

	<bean id="variableGenerationTieBreakingRankingsClient"
		class="name.reidmiller.iesoreports.client.VariableGenerationTieBreakingRankingsClient">
		<constructor-arg ref="variableGenerationTieBreakingRankingsURL" />
		<constructor-arg ref="variableGenerationTieBreakingRankingsMarshaller" />
		<constructor-arg ref="variableGenerationTieBreakingRankingsMarshaller" />
	</bean>

	<oxm:jaxb2-marshaller id="variableGenerationTieBreakingRankingsMarshaller"
		contextPath="ca.ieso.reports.schema.vgtiebreakingrankings" />
</beans>